.score {
    /* border: 1px solid #ccc; */
    background-color: #4baffb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    max-width: 35px;
    max-height: 35px;
    padding: 0.4rem;
    margin: 0 10px;
}

.score-image {
    max-width: 40px;
}