button {
    height: 30px;
    width: 70px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
    background-color: #0090FF;
    cursor: pointer;
}

button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
}

.container-extension{
    width: 347px;
}

.logo{
    width: 79px;
    margin-left: -10px;
}

.content-extension--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #0000004a;
}

.content-icons-description {
    margin: 10px 0px;
}

.auditivo{
    width: 71px;
}
.daltonicos{
    width: 74px;
}

.visual{
    width: 76px;
}

.teclado{
    width: 75px;
}

.item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.item p{
    margin-left: 11px;
    font-size: 16px;
}